%h2 Data Absen Karyawan
%hr
%table.table
	%thead
		%tr
			%th Karyawan
			%th Status
			%th.span5 Reason
			%th Tanggal Kerja
			%th Action
	%tbody
		- for absen in @absens
			%tr
				%td=absen.karyawan.nama_lengkap
				%td=absen.status
				%td=absen.reason
				%td=absen.absen_for.strftime('%a, %e %b %Y')
				%td
