%h1 Dashboard
%hr
-if current_karyawan.absen_for_today.nil?
	.alert.alert-warning.center-text
		%h3 Anda belum absen untuk hari ini #{Time.now.strftime('%a, %e %b %Y')}
		silakan pilih salah satu :
		=link_to 'Masuk', url_for(:action => :absen, :status => "MASUK"), :method => :put, :class => 'btn btn-success'
		=link_to 'Izin', url_for(:action => :absen, :status => "IZIN"), :method => :put, :class => 'btn btn-info'
		=link_to 'Sakit', url_for(:action => :absen, :status => "SAKIT"), :method => :put, :class => 'btn btn-warning'

%hr
.row-fluid
	.span3
		%a{:href => url_for(:action => :vacation)}
			.well.center-text
				%b Pengajuan Cuti
	.span3
		%a{:href => url_for(:action => :pengalaman)}
			.well.center-text
				%b Input Pengalaman Kerja
	.span3
		%a{:href => url_for(:action => :pendidikan)}
			.well.center-text
				%b Input Data Pendidikan
	.span3
		%a{:href => url_for(:action => :salary)}
			.well.center-text
				%b Rekap Gaji