.row-fluid
	.span6
		%h2 Rekap Gaji #{current_karyawan.nama_lengkap}
	.span6
		.pull-right.dont-print 
			%a.btn.btn-large#print{:href => url_for(:action => :salary)}
				%i.icon.icon-printer
				Print


%hr
%table.table.table-striped
	%thead
		%tr
			%th Bulan Tahun
			%th Tanggal Release
			%th Bonus
			%th Jamsostek
			%th Pajak
			%th Diterima
	%tbody
		- for gaji in @gajis
			%tr
				%td=gaji.created_at.strftime('%B %Y')
				%td=gaji.created_at.strftime('%A, %e')
				%td=money_formater(gaji.bonus)
				%td=money_formater(gaji.jamsostek)
				%td=money_formater(gaji.pajak)
				%td=money_formater(gaji.final_amount)

.row-fluid.dont-screen
	.span8
	.span4
		.center-text
			= "Jakarta, #{Time.now.strftime('%a, %e %b %Y')}"
			%br
			%br
			%br
			%br
			%hr
			=current_karyawan.nama_lengkap
