- unless notice.nil?
	.alert.alert-alert
		=notice
- unless alert.nil?
	.alert.alert-danger
		=alert
- unless flash[:info].nil?
	.alert.alert-info
		=flash[:info]
- unless flash[:success].nil?
	.alert.alert-success
		=flash[:success]
- unless flash[:error].nil?
	.alert.alert-danger
		=flash[:error]

