%li 
	=link_to 'Karyawan',  karyawans_path
%li
	=link_to 'Absen', absens_path
%li
	=link_to 'Cuti', holydays_path
%li
	=link_to 'Jabatan', jabatans_path	
%li
	=link_to 'Divisi', divisis_path
%li
	=link_to 'Pendidikan', pendidikans_path
%li
	=link_to 'Pengalaman', pengalamen_path
%li
	=link_to 'Gaji Karyawan', gajis_path