
-# .well
.row-fluid
	.span4
		.img-polaroid.img-circle
			=image_tag(current_karyawan.photo_url, :class => 'img-circle')
	.span8.right-text
		%h4=current_karyawan.nama_lengkap
		=current_karyawan.role.titleize
		%p
			%small
				=link_to '<i class="icon icon-pencil"></i> Edit'.html_safe, dashboard_edit_path
				|
				=link_to '<i class="icon icon-unlocked"></i> Keluar'.html_safe, destroy_karyawan_session_path, :method => :delete
%hr
%ul.nav.nav-tabs.nav-stacked
	%li
		=link_to '<i class="icon icon-home"></i> Dashboard'.html_safe, root_url
%ul.nav.nav-tabs.nav-stacked
	=render "layouts/nav_#{current_karyawan.role}"