
-# .well
.row-fluid
	.span4
		.img-polaroid.img-circle
			=image_tag('https://secure.gravatar.com/avatar/9601cebd47e3bc0ebb245caca9290b9c?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png', :class => 'img-circle')
	.span8.right-text
		%h4=current_karyawan.nama_lengkap
		=current_karyawan.role.titleize
		%p
			%small
				=link_to '<i class="icon icon-pencil"></i> Edit'.html_safe
				|
				=link_to '<i class="icon icon-unlocked"></i> Keluar'.html_safe, destroy_karyawan_session_path, :method => :delete
%hr
%ul.nav.nav-tabs.nav-stacked
	%li
		=link_to '<i class="icon icon-home"></i> Dashboard'.html_safe, root_url
%ul.nav.nav-tabs.nav-stacked
	=render "layouts/nav_#{current_karyawan.role}"